.HomePage{
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HomeTitleClass{
    position: absolute;
    width: 493px;
    height: 112px;
    left: 163px;
    top: 344px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    text-transform: capitalize;

    color: #000000;
}