.HeroHomePage{
    height: 100vh;
    background-color: #D9D9D9;
    display: flex;
    padding-top: 69px;
    flex-direction: row;
}

.LeftHeroContainer{
    /* Layout */
    position: relative;
    margin-left: 10%;
    align-items: center;
    display: column;
    width: 42%;
    height: 90%;
}

.HeroHomeSubTitleContainer{
    /* Layout */
    margin-top: 28%;
    display: flex;
    width: 60.3%;
    height: 5%;
    /* justify-content: center; */
    align-items: center;
    flex-shrink: 0;
}

.HeroHomeSubTitleText{
    /* Layout */
    margin-left: 2%;

    /* Typography */
    color: #DA1972;
    text-align: center;
    font-size: 19px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.HeroHomeTitleContainer{
    /* Layout */
    position: relative;
    height: 24%;
    width: 100%;
    margin-top: 3.35%;
}

.HeroHomeTitleText{
    width: 85%;

    color: #000;
    font-size: 38px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.BtnContactar{
    /* Layout */
    margin-top: auto !important;
    width: 111px !important;
    height: 44px !important;
    /* flex-direction: column; */
    justify-content: center !important;
    flex-shrink: 0 !important;
    border-radius: 16px !important;
    background: #771135 !important;
    top: 16%;

    /* Typography */
    color: #FFF !important;
    text-align: center !important;
    font-size: 16px !important;
    font-family: 'Roboto' !important;
    font-weight: 700px !important;
    text-transform: capitalize !important;
}

.RightHeroContainer{
    /* Layout */
    width: 38%;
    height: 90%;
    display: flex;
    flex-shrink: 0;
    border-radius: 55px;
    background-image: url("./img/imgHeroHomePage.png");
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1400px) {
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 17px;
    }

    .HeroHomeTitleText{
        /* Typography */
        font-size: 32px;
    }

    .BtnContactar{
        transform: scale(0.9)
    }
    .RightHeroContainer{
        /* Layout */
        background-position: right;
    }
}

@media only screen and (max-width: 1259px) {
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 16px;
    }

    .HeroHomeTitleText{
        /* Typography */
        font-size: 30px;
    }
    .RightHeroContainer{
        /* Layout */
        background-position: right;
    }
}

@media only screen and (max-width: 1180px) {
    .HeroHomeSubTitleContainer{
        /* Layout */
        width: 90%;
    }

    .HeroHomeTitleText{
        /* Typography */
        font-size: 30px;
    }
}


@media only screen and (max-width: 900px) {
    .HeroHomePage{
        height: 100vh;
        background-color: #D9D9D9;
        display: flex;
        padding: 0;
        flex-direction: row;
    }
    .LeftHeroContainer{
        width: auto;
        margin-left: auto;
        padding: 5%;
        background-color: #000;
        background: linear-gradient(#D9D9D9, rgba(0, 0, 0, 0.01)), url("./img/imgHeroHomePage.png");
        background-size: cover;
        background-position:right;
    }
    .HeroHomeSubTitleContainer{
        margin-top: 2%;
        width: 100%;
    }
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 20px;
    }
    .HeroHomeTitleContainer{
        width: 80%
    }
    .HeroHomeTitleText{
        font-size: 30px;
    }
    .BtnContactar{
        top: 50%
    }

    .RightHeroContainer {
        display: none;
        width: 0px;
        height: 0px;
    }
}

@media only screen and (max-width: 870px) {
    .HeroHomeTitleContainer{
        width: 100%
    }
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 16px;
    }
    .HeroHomeTitleText{
        font-size: 26px;
    }
}

@media only screen and (max-width: 520px) {
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 12px;
    }
    .HeroHomeTitleText{
        font-size: 22px;
    }
}

@media only screen and (max-width: 405px) {
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 10px;
    }
    .HeroHomeTitleText{
        font-size: 20px;
    }
}

@media only screen and (max-width: 370px) {
    .HeroHomeSubTitleText{
        /* Typography */
        font-size: 10px;
    }
    .HeroHomeTitleText{
        font-size: 16px;
    }
    .BtnContactar{
        transform: scale(0.8)
    }
}