.ContactoClass{
    height: 331px;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #D9D9D9;
}

.ContactoTituloClass{
    position: absolute;
    width: 492px;
    height: 68px;
    /* left: calc(50% - 616px/2); */
    top: 150px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}