.containerCursos {
    display: flex;
    flex-direction: column;
}

.containerDivCursos{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}