.containerCursos {
    display: flex;
    flex-direction: column;
    background-color: #FDE5F0;
}

.containerDivCursos{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 3%;
}

.NivelText{
    /* Layout */
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 3%;


    /* Typography */
    color: #320817;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}