.containerContacto {
    display: flex;
    flex-direction: column;
}

.containerDivCursos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
}