.DetalleCursadaContainer{
    /* Layout */
    height: 51px;
    margin-left: 10%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 19px;
}

.DetalleContainer{
    /* Layout */
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    padding-top: 2px;
    margin-right: 10%;
}
.Ico{
    margin-left: 10%;
}

.Ico:first-child{
    margin-left: 0%;
}

.DetalleTitulo{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    font-weight: 500;
}

.Detalle{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 950px){
    .DetalleCursadaContainer{
        font-size: 14px;
    }
}

@media only screen and (max-width: 850px){
    .DetalleContainer{
        margin-top: 8px;
    }
}

@media only screen and (max-width: 800px){
    .DetalleCursadaContainer{
        margin-left: 5%;
        display: inline;
        justify-content: left;
        height: auto;
    }
}