.NavBarBrandWrapper {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDE5F0;
}

.NavBarBrand {
  /* Layout */
  position: relative;
  width: 26%;
  height: 100%;
  align-items: center;
  justify-content: center;

  background-image: url("../assets/Logotipo-1.png");
  background-size: cover;
  background-position: center;
}

.Logo{
  position: relative;
  width: 120%;
  height: auto;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */

  background-color: red;
}

.NavBar {
  /* Layout */
  position: absolute;
  padding-left: 8% !important;
  height: 110px;
  display: flex !important;
  align-items: center !important;
  justify-content: center; /* Center vertically */
  background: #A71351 !important;
}
.LinkNavBar {
  position: relative;
  text-decoration: none;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 16px !important;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #FDE5F0;
  background-color: inherit;
  margin-right: 120px !important;

}

.Search{
  background-color: inherit;
  margin-left: 35% !important;
  width: 20% !important;
  border: none !important;
  text-decoration: none !important;
  outline: none !important;
}

@media only screen and (max-width: 1400px) {
  .NavBarBrandWrapper{
    /* Layout */
    height: 100px;
  }
  .NavBarBrand {
    /* Layout */
    height: 100%;
  }

  .NavBar {
    /* Layout */
    height: 80px;
    padding-left: 15px;
  }
  .LinkNavBar {
    transform: scale(0.95);
    margin-right: 100px !important;
  }
}

@media only screen and (max-width: 1259px) {
  .NavBarBrandWrapper{
    /* Layout */
    height: 80px;
  }

  .LinkNavBar {
    font-size: 14px !important;
    margin-right: 80px !important;
  }

  .NavBar {
    /* Layout */
    height: 65px;
    padding-left: 10px;
  }
  .LinkNavBar {
    transform: scale(0.9)
  }
}

@media only screen and (max-width: 1180px){
  .NavBarBrandWrapper{
    /* Layout */
    height: 70px;
  }
  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 25%;
  }
  .LinkNavBar {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 900px){
  .NavBarBrandWrapper{
    /* Layout */
    height: 60px;
  }

  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 30%;
  }

  .NavBar {
    /* Layout */
    height: 55px;
    padding-left: 5px;
  }
  .LinkNavBar {
    transform: scale(0.85)
  }
  .LinkNavBar {
    left: 20px;
  }
}
@media only screen and (max-width: 800px){
  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 35%;
  }
}

@media only screen and (max-width: 700px){
  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 40%;
  }
}
@media only screen and (max-width: 600px){
  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 45%;
  }
}
@media only screen and (max-width: 500px){
  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 50%;
  }
}
@media only screen and (max-width: 400px){
  .NavBarBrand {
    /* Layout */
    height: 100%;
    width: 60%;
  }
}

@media only screen and (max-height: 400px){
  .NavBarBrand {
    display: none;
  }
  .NavBarBrandWrapper{
    display: none;
  }
}