.CardContainer{
    margin-right: 5%;
    width: 299px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 5%;

    background-color: yellow;
}

.Card{
    width: 299px;
    height: 400px;
}

.CardPhotoContainer{
    height: 44%;
}

.CardTittleContainer{
    height: 40% !important;
    background-color: #FDE5F0 !important;
    justify-content: center;
    align-items: center;
}

.CardTittle{
    /* Layout */
    margin-top: 10%;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 70%;

    /* Typography */
    color: var(--grey-black, #0A0A0A) !important;
    text-align: center !important;
    font-family: Inter !important;
    font-size: 24px !important;
    font-style: normal !important;
    font-weight: 800 !important;
    line-height: 150% !important; /* 48px */
    letter-spacing: 0.6px !important;
}

.CardButtonContainer{
    padding-right: 5%;
    height: 16%;
    align-items: center;
    justify-content: right;
    background-color: #FDE5F0;
}

.CardButton{
    /* Layout */
    display: flex !important;
    width: 130px !important;
    height: 42px !important;
    padding: 18px 30px !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 18px !important;
    flex-shrink: 0 !important;

    /* Style */
    border-radius: 16px !important;
    background: var(--secundario, #8D1539) !important;

    /* Typography */
    color: #FDE5F0 !important;
    text-align: center !important;
    font-family: Inter !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
    text-transform: none !important;
}