.DetalleCursadaContainer{
    /* Layout */
    height: 51px;
    margin-left: 21px;
    margin-top: 25px;
    margin-right: 52px;
    display: flex;
    align-items: center;
}
.IcoLocation{
    /* Layout */
    width: 19px;
    height: 19px;
    flex-shrink: 0;
}

.DetalleModalidadContainer{
    /* Layout */
    width: 176px;
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.DetalleModalidadTitulo{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 19px;
}

.DetalleModalidad{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 19px;
}

.IcoCalendar{
    margin-left: 6px;
}

.DetalleDuracionContainer{
    /* Layout */
    width: 137px;
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.DetalleDuracionTitulo{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 19px;
}


.DetalleDuracion{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 19px;
}

.IcoClock{
    margin-left: 28px;
}

.DetalleFrecuenciaContainer{
    /* Layout */
    width: 137px;
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.DetalleFrecuenciaTitulo{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 19px;
}


.DetalleFrecuencia{
    /* Layou */
    display: flex;
    flex-shrink: 0;
    margin-left: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Typography */
    color: #000;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 300;
    line-height: 19px;
}