.RoadMap{
    height: 180vh;
    background-image:url("./img/background.png");
    padding-left: 10%;
    padding-right: 10%;
}

.RoadMap{
    display: grid;
    row-gap: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.RoadMapTittleContainer{
    /* Layout */
    position: relative;
    width: 100%;
    height: 38px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-top:8%;
    margin-bottom:7%;
}

.RoadMapTittleText{
    /* Typography */
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.MapaConceptualTittleContainer{
    /* Layout */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 34% 32% 34%;
    width: 100%;
    height: 141px;
    margin-bottom: 0;
}
.ArrowContainer{
    /* Layout */
    position: relative;
    display: flex;
    height: 100%;
    justify-content: left;
}
.ArrowLeftContainer{
    /* Layout */
    justify-content: right;
}
.Arrow{
    margin-top: 26px;
    transform: scale(0.8);
}
.ArrowRight{
    margin-left: -2px;
    transform: scaleX(-1) scale(0.8);
}

.CoreTittleContainer{
    /* Layout */
    display:flex;
    position: relative;
    height: 100%;
    justify-content: center;
}
.MapaTittleContainer{
    /* Layou */
    display: flex;
    width: 393px;
    height: 83px;
    position: relative;
    justify-content: center;
    align-items: center;

    /* Style */
    border-radius: 30px;
    border: 5px solid #DA1972;

    /* Typography */
    color: #DA1972;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.MapaConceptualConditionalContainer{
    /* Layout */
    position: relative;
    width: 100%;
    height: 141px;
}
.MapaConceptualCloudContainer{
    /* Layout */
    position: relative;
    width: 100%;
    height: 141px;
    background-color: rgb(218, 149, 224);
}
.MapaConceptualResultContainer{
    /* Layout */
    position: relative;
    width: 100%;
    height: 141px;
    background-color: rgb(111, 121, 240);
}

.MapaConceptualConditionalContainer{
    /* Layout */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 34% 32% 34%;
    width: 100%;
    height: 80px;
    margin-bottom: 0;
}
.SpaceBetween{
    /* Layout */
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.ConditionalLeftContainer{
    position: relative;
    display: flex;
    justify-content: right;
    padding-right: 116px;
}
.ConditionalRightContainer{
    position: relative;
    display: flex;
    padding-left: 115px;
}
.Circle{
    position: relative;
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #000;
}