.RoadMap{
    height: 180vh;
    display: grid;
    row-gap: 0px;

}

.RoadMap::before{
    content:"";
    background-image: url("./img/background.png");
    background-color: rgb(255, 209, 230);
    /* opacity: 50%; */
    background-blend-mode: multiply;
}

.RoadMapGrid{
    width: 100%;
    position: absolute;
    display: inline;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}


.RoadMapTittleContainer{
    /* Layout */
    position: relative;
    width: 100%;
    height: 38px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    margin-top:8%;
    margin-bottom:7%;
}

.RoadMapTittleText{
    /* Typography */
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.MapaConceptualTittleContainer{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 141px;
    margin-bottom: 0;
}
.ArrowContainer{
    /* Layout */
    position: relative;
    display: flex;
    height: 100%;
    width: 12.5%;
    justify-content: left;
}
.ArrowLeftContainer{
    /* Layout */
    justify-content: right;
}
.Arrow{
    margin-top: 41px;
    width: 100%;
    height: 96px;
    border-left: 5px solid #DA1972;
    border-top: 5px solid #DA1972;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: flex;
    justify-content: left;
}
.FlechaLPunta{
    /* Layout */
    margin-left: -15px;
    margin-bottom: -5px;
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    bottom: 10px;
    border-left: 5px solid #DA1972;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #DA1972;
    transform: rotate(-45deg);

    border-bottom-right-radius: 3px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: inherit;
}
.ArrowRight{
    margin-top: 41px;
    border-left: 5px solid transparent;
    border-top: 5px solid #DA1972;
    border-right: 5px solid #DA1972;
    border-bottom: 5px solid transparent;
    display: flex;
    justify-content: right;
}
.FlechaLPuntaDer{
    /* Layout */
    margin-right: -15px;
    margin-bottom: -5px;
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    bottom: 10px;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid #DA1972;
    border-bottom: 5px solid #DA1972;
    transform: rotate(45deg);

    border-bottom-right-radius: 3px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: inherit;
}



.CoreTittleContainer{
    /* Layout */
    display: row;
    position: relative;
    height: 100%;
    width: 32%;
    justify-content: center;
}
.MapaTittleContainer{
    /* Layou */
    display: flex;
    width: 100%;
    height: 83px;
    position: relative;
    justify-content: center;
    align-items: center;

    /* Style */
    border-radius: 30px;
    border: 5px solid #DA1972;

    /* Typography */
    color: #DA1972;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}



.MapaConceptualConditionalContainer{
    /* Layout */
    position: relative;
    width: 100%;
    height: 80px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 39.5% 21% 39.5%;
    margin-top: 8px;
    margin-bottom: 0;
}
.SpaceBetween{
    /* Layout */
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.ConditionalLeftContainer{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
}
.ConditionalRightContainer{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
}
.Circle{
    /* Layout */
    position: relative;
    display: flex;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #000;
    align-items: center;
    justify-content: center;

    /* Typography */
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.MapaConceptualCloudContainer{
    /* Layout */
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 39.5% 21% 39.5%;
    width: 100%;
    height: 285px;
    margin-top: 12px;
    margin-bottom: 0;
}
.CloudContainer{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
}
.CloudContainerRight{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
}
.Cloud{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 100%;
}
.CloudRight{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 100%;
}
.SpaceBetween{
    /* Layout */
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.FlechaContainer{
    height: 100%;
    position: relative;
    display: flex;
}
.Flecha{
    /* Layout */
    position: relative;
    display: flex;
    width: 4.8px;
    height: 100%;

    /* Style */
    /* background-color: #de3282; */
    background-color: #DA1972;
}
.FlechaPunta{
    /* Layout */
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    bottom: 10px;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid #DA1972;
    border-bottom: 5px solid #DA1972;
    transform: rotate(45deg) translate(0, 57%);

    border-bottom-right-radius: 3px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    /* Style */
    /* background-color: #de3282; */
    background-color: inherit;
}

.NubeContainer{
    /* Layout */
    position: absolute;
    display: flex;
    width: 235px;
    height: 124px;
}
.NubeText{
    /* Layout */
    position: absolute;
    display: flex;
    margin-top: 50px;
    margin-left: 32px;
    /* Typography */
    color: #DA1972;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.Nube{
    /* Layout */
    position: absolute;
    display: flex;
    margin-top: 31px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
}
.NubeDos{
    /* Layout */
    margin-top: 0px;
    margin-left: 35px;
}
.NubeTres{
    /* Layout */
    margin-top: 40px;
    margin-left: 51px;
}
.NubeCuatro{
    /* Layout */
    margin-top: 14px;
    margin-left: 80px;
}
.NubeCinco{
    /* Layout */
    margin-top: 44px;
    margin-left: 115px;
}
.NubeSeis{
    /* Layout */
    margin-top: 0px;
    margin-left: 138px;
}
.NubeSiete{
    /* Layout */
    margin-top: 31px;
    margin-left: 155px;
}

.MapaConceptualResultContainer{
    /* Layout */
    position: relative;
    margin-top: 12px;
    width: 100%;
    height: 141px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 39.5% 21% 39.5%;
}

.SpaceBetween2{
    /* Layout */
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

}
.MapaConceptualResultTrue{
    /* Layout */
    position: relative;
    display: inline;
    justify-content: center;
}
.MapaConceptualResultFalse{
    /* Layout */
    position: relative;
    display: inline;
    justify-content: center;

}

.ResultadoContainer{
    /* Layout */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    height: 83px;
    margin-bottom: 30px;
    /* Style */
    border-radius: 30px;
    border: 5px solid #DA1972;

    /* Typography */
    color: #DA1972;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.ResultadoContainer:last-child{
    margin-bottom: 0p
}
@media only screen and (max-width:1250px){
    .RoadMap{
        height: 180vh;
    }
    .RoadMapGrid{
        padding-left: 5%;
        padding-right: 5%;
    }
    .RoadMapTittleText{
        font-size: 28px;
    }
    .MapaTittleContainer{
        font-size: 20px;
    }
    .ResultadoContainer{
        font-size: 20px;
    }
}
@media only screen and (max-width:1150px){
    .RoadMapGrid{
        padding-left: 3%;
        padding-right: 3%;
    }
    .RoadMapTittleText{
        font-size: 28px;
    }
    .MapaTittleContainer{
        font-size: 20px;
    }
    .ResultadoContainer{
        font-size: 20px;
    }
}
@media only screen and (max-width:1050px){
    .RoadMapGrid{
        transform: scale(0.9);
    }
    .MapaTittleContainer{
        font-size: 18px;
    }
    .ResultadoContainer{
        font-size: 18px;
    }
    .MapaConceptualResultContainer{
        grid-template-columns: 47.5% 5% 47.5%;
    }
    .RoadMap{
        height: 160vh;
    }
}

@media only screen and (max-width:800px){
    .RoadMap{
        height: 155vh;
    }
    .CoreTittleContainer{
        width: 40%
    }
    .ArrowContainer{
        width: 6.5%;
    }
    .MapaConceptualCloudContainer{
        grid-template-columns: 44% 12% 44%;
    }
    .MapaConceptualConditionalContainer{
        grid-template-columns: 44% 12% 44%;
    }
    .MapaConceptualResultContainer{
        grid-template-columns: 47.5% 5% 47.5%;
    }
}
@media only screen and (min-width: 601px){
    .CompactRoadMap{
        display: none;
    }
}

@media only screen and (max-width:600px){
    .RoadMap{
        height: 160vh;
    }
    .CompactRoadMap{
        display: inline;
    }
    .RoadMapGrid{
        padding-left: 2%;
        padding-right: 2%;
    }
    .CoreTittleContainer{
        /* Layout */
        margin-top: 5%;
        width: 100%;
    }

    .ResultadoContainer{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .CompactTrueFalse{
        /* Layout */
        margin-top: 5%;
        margin-bottom: 2%;
        /* Typography */
        color: black;
        text-align: left;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .Recomendamos{
        /* Layout */
        margin-top: 2%;
        margin-bottom: 5%;
        /* Typography */
        color: rgb(77, 77, 77);
        text-align: left;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }


    .ArrowContainer{
        display: none;
    }
    .MapaConceptualConditionalContainer{
        display: none;
    }
    .MapaConceptualCloudContainer{
        display: none;
    }
    .MapaConceptualResultContainer{
        display: none;
    }
}

@media only screen and (max-width:500px){
    .RoadMap{
        height: 155vh;
    }
}

@media only screen and (max-width:450px){
    .RoadMap{
        height: 150vh;
    }
}